.form {
  width: 40vw;
  background-color: #d9d9d9;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.header h1 {
  margin: 0;
  font-size: 4.1rem;
  font-weight: bold;
}

.subHeading {
  font-size: 2.7rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 1rem;
}

.formControl {
  margin-bottom: 1rem;
}

.formControl input,
.formControl label {
  display: flex;
}

.formControl label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: 0.7rem;
  padding: 0.4rem;
  font-size: 1.5rem;
}

.formControl input,
.formControl select {
  font: inherit;
  padding: 0.5rem;
  margin-left: 1.2rem;
  margin-right: 0.7rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 34vw;
  max-width: 100%;
}

.formControl input:focus {
  outline: none;
  border-color: #4484ce;
  background-color: #f19f4d;
}

.buttonAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headref{
  font-size:1rem;
  font-weight: 600;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 9px;
}

.blue{
  color: blue;
  cursor: pointer;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.errorText {
  color: #b40e0e;
}

@media (min-width: 320px) {
  .form {
    width: 95vw;
  }
  .header h1 {
    font-size: 2.2rem;
  }
  .subHeading {
    font-size: 1.8rem;
  }
  .formControl input {
    width: 80vw;
  }
  .formControl label {
    margin-left: 0.2rem;
  }
  .formControl input {
    margin-left: 0.6rem;
  }
}

@media (min-width: 576px) {
  .form {
    width: 90vw;
  }
  .header h1 {
    font-size: 2.6rem;
  }
  .formControl input {
    margin-left: 0.7rem;
  }
  .formControl label {
    margin-left: 0.4rem;
  }
  .formControl input {
    width: 80vw;
  }
}

@media (min-width: 768px) {
  .form {
    width: 68vw;
  }
  .header h1 {
    font-size: 2.8rem;
  }
  .subHeading {
    font-size: 2rem;
  }
  .formControl input {
    width: 60vw;
  }
}

@media (min-width: 992px) {
  .form {
    width: 40vw;
  }
  .header h1 {
    font-size: 4.1rem;
  }
  .subHeading {
    font-size: 2.7rem;
  }
  .formControl input {
    width: 35vw;
  }
}
